 
 .table-container {
    position: relative;
    max-height: 400px;    
    overflow: auto;
  }

  table {
    width: 100%;
    overflow: auto;
    font-size: 12px;
  }
  
  td.mat-column-star {
    width: 10px;
    padding-right: 1px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

.seach-button button {
  margin-right: 8px;
}