.table-container {
    height: 400px;
    width: 550px;
    overflow: auto;
  }
  
  table {
    width: 100%;
    overflow: auto;
    overflow-x: auto;
  }
  
  td.mat-column-star {
    width: 10px;
    padding-right: 1px;
  }
  
  .mat-cell {  
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #E0E0E0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #E0E0E0;
  }