<div class="container">
  <form [formGroup]="agenteForm">
    <div class="row">
      <div class="col-4">
        <mat-form-field class="w-50 p-3">
          <input matInput placeholder="CUISE" [(ngModel)]="Cuise" formControlName="cuise" [errorStateMatcher]="matcher"
            maxlength="10">
          <mat-error *ngIf="agenteForm.get('cuise').hasError('pattern')">
            Campo Incorrecto.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100 p-3">
          <input matInput placeholder="Busqueda" [(ngModel)]="Busqueda" formControlName="busqueda"
            [errorStateMatcher]="matcher" maxlength="80">
          <mat-error *ngIf="agenteForm.get('busqueda').hasError('minlength')">
            Ingrese mas caracteres
          </mat-error>
          <mat-error *ngIf="agenteForm.get('busqueda').hasError('required')">
            Campo Requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div *ngIf="statusError" class="alert alert-danger" role="alert">
          <label>{{mensaggeError}}</label>
        </div>
      </div>
    </div>
    <div class="seach-button" style="float: right;">
      <button mat-raised-button color="primary" class="servicios-button" (click)="buscarSubOrganizacion()"
        [disabled]="agenteForm.status === 'VALID'? false: true">Buscar</button>
      <button mat-raised-button color="primary" class="servicios-button" (click)="cerrar()">Cerrar</button>
    </div>
    <div style="clear: both;"></div>
  </form>
</div>
<div class="col" style="clear: both;">
  <div *ngIf="searching">
    <p class="text-center">Buscando...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="CUE" matSortDirection="asc" matSortDisableClear
        class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="CUE" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CUISE </th>
          <td mat-cell *matCellDef="let row"> <a mat-flat-button (click)="cellClicked(row.CUE)">{{row.CUE}}</a> </td>
        </ng-container>

        <!-- Ligado Column -->
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
          <td mat-cell *matCellDef="let row" style="text-align: justify; text-justify: inter-word; min-width: 200px;"> {{row.Descripcion}} </td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="star" stickyEnd>
          <th class="d-sm-none" mat-header-cell *matHeaderCellDef></th>
          <td class="d-sm-none" mat-cell *matCellDef="let element">
            <mat-icon>more_vert</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <footer class="blockquote-footer">Se encontraron <cite
        title="Source Title"><strong>{{dataSource.data.length}}</strong></cite> registros.</footer>
  </div>
</div>