<h1 mat-dialog-title>Historial</h1>
<div mat-dialog-content>
  <div *ngIf="mostrar">
      <p class="text-center">Buscando...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!mostrar" class="table-responsive">
    <table class="table">
      <caption class="text-right">Cargos a la Fecha: {{currentDate | date:'dd/MM/yyyy'}}</caption>
      <thead>
        <tr>
          <th scope="col">SR</th>
          <th scope="col">DNI</th>
          <th scope="col">Nombres</th>
          <th scope="col">Info</th>
          <th scope="col">Fecha Alta</th>
          <th scope="col">Fecha Baja</th>
        </tr>        
      </thead>
      <tbody>
        <tr *ngFor="let item of data.Historial">
          <td>{{item.SituacionRevista}}</td>
          <td>{{item.Documento}}</td>
          <td>{{item.ApellidosYNombres}}</td>
          <td><img mat-raised-button src='../../../../../assets/Image/{{item.Info | urlImage}}' alt='Status' Style='width: 16px;'  matTooltip="{{item.Info | urlMessage}}"
            matTooltipClass="tooltip-info" matTooltipPosition="right"/></td>
          <td>{{item.FechaAlta | date: 'dd/MM/yyyy'}}</td>
          <td><span *ngIf="item.FechaBaja">{{item.FechaBaja | date: 'dd/MM/yyyy'}}</span><span *ngIf="!item.FechaBaja">Continua</span></td>                    
        </tr>                
      </tbody>
    </table>
  </div>
</div>
<hr>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
</div>