<div class="container">
  <app-loading *ngIf="loading"></app-loading>
  <form [formGroup]="changePasswordForm">
    <div class="row" style="margin-top: 20%;">
      <div class="col text-center" style="padding: 5px; margin-top: 10px;">
        <div *ngIf="statusError" class="alert alert-danger" role="alert">
          <label>{{mensaggeError}}</label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 2%;">
      <div class="col">
      </div>
      <div class="col">
        <mat-form-field style="width: 300px">
          <input matInput placeholder="Contraseña" [(ngModel)]="password" [errorStateMatcher]="matcher"
            formControlName="password" type="password" required>
          <mat-error
            *ngIf="changePasswordForm.get('password').hasError('required') && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
            Campo Requerido
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">
            El minimo de caracteres es de 6
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <mat-form-field style="width: 300px">
          <input matInput placeholder="Confirmar Contraseña" [errorStateMatcher]="matcher" type="password"
            formControlName="confirmPassword" [(ngModel)]="confirmPassword" required>
          <mat-error
            *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
            Campo Requerido
          </mat-error>
          <mat-error
            *ngIf="changePasswordForm.controls['confirmPassword'].pristine || changePasswordForm.controls['confirmPassword'].errors?.MatchPassword">
            Password does not match
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="col">
      <div class="text-center" style="margin-top: 4%;">
        <button mat-raised-button color="warn" class="button_widht" style="margin-left: 8px; margin-top: 10px;"
          (click)="confirmDialogCancelar()">Cancelar</button>
        <button mat-flat-button color="primary" flex="200" (click)="guardar()"
          style="margin-left: 8px; margin-top: 10px;"
          [disabled]="changePasswordForm.status === 'VALID'? false: true">Cambiar</button>
      </div>
    </div>
  </form>
</div>