<div class="container">
  <app-loading *ngIf="loading"></app-loading>
  <form [formGroup]="AgenteForm" #agenteDirective="ngForm" (keydown)="onPressEnter($event,bajaDirective)">
    <div class="row">
      <div class="col-sm align-self-center">
        <mat-form-field>
          <input matInput placeholder="Documento" [(ngModel)]="camposBaja.Documento" formControlName="documento"
            [errorStateMatcher]="matcher" maxlength="8">
          <mat-error *ngIf="AgenteForm.get('documento').hasError('required')">
            Campo Requerido
          </mat-error>
          <mat-error *ngIf="AgenteForm.get('documento').hasError('pattern')">
            DNI Incorrecto.
          </mat-error>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Buscar Agente"
          (click)="showTitle? false : openAgenteDialog()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="col-sm">
        <app-user-cuise [formControl]="AgenteForm.controls['cuise']" #state [(ngModel)]="camposBaja.CUISE">
        </app-user-cuise>
      </div>
      <!--<div class="col-sm">
        <mat-form-field>
          <input matInput placeholder="CUISE" [(ngModel)]="camposBaja.CUISE" formControlName="cuise"
            [errorStateMatcher]="matcher" maxlength="15">
          <mat-error *ngIf="AgenteForm.get('cuise').hasError('pattern')">
            Campo Incorrecto.
          </mat-error>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Buscar CUISE"
          (click)="showTitle? false : openCUISEDialog()">
          <mat-icon>search</mat-icon>
        </button>
      </div>-->
    </div>
    <div class="row">
      <div class="col-sm align-self-center">
        <mat-checkbox formControlName="checkProteccionMaternidad" [(ngModel)]="camposBaja.IsProteccionMaternidad">
          Proteccion a la Maternidad
        </mat-checkbox>
      </div>
      <div class="col-sm">
        <button mat-raised-button color="primary" class="servicios-button" (click)="buscarServicios()"
          [disabled]="AgenteForm.status === 'VALID'? false: true" style="margin-top: 15px;">Buscar</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div *ngIf="statusError" class="alert alert-danger" role="alert">
          <label>{{mensaggeError}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="showTitle" class="row">
      <div class="col text-center">
        <div class="text-uppercase" role="alert">
          <hr>
          Agente:
          <strong>{{camposBaja.Nombres}}</strong>
          <span class="margen_8"> - DNI: {{camposBaja.Documento}}</span>
          <hr>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col text-center">
      <div *ngIf="statusErrorSubServicios" class="alert alert-danger" role="alert">
        <label>{{mensaggeError}}</label>
      </div>
    </div>
  </div>
  <div style="margin-top:20px;"></div>
  <strong *ngIf="showTitle">Servicios Activos</strong>
  <app-servicios-inactivos *ngIf="showTitle" [disabledCheck]="(!disableEjecutar || isEjecutado)"
    (onSelect)="ServicioSelect($event, bajaDirective)" [dataSourceInput]="dsServiciosInactivos">
  </app-servicios-inactivos>
  <div class="row">
    <div [innerHTML]="mensaggeChequeo" style="width: 100%; margin-top:10px;" role="alert"></div>
  </div>
  <form [formGroup]="BajaForm" #bajaDirective="ngForm">
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm align-self-center">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerFechaBaja" [(ngModel)]="camposBaja.FechaBaja"
                  placeholder="Fecha Baja" [errorStateMatcher]="matcher" formControlName="fechaBaja">
                <mat-datepicker-toggle matSuffix [for]="pickerFechaBaja"></mat-datepicker-toggle>
                <mat-datepicker #pickerFechaBaja></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm align-self-center">
              <mat-form-field style="width: inherit;">
                <mat-label>Causa de baja</mat-label>
                <mat-select formControlName="causaBaja" (selectionChange)="onCausaBajaSelect($event)"
                  [errorStateMatcher]="matcher" [(ngModel)]="camposBaja.CausaBaja" style="font-size: 13px;">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let item of dsCausaBaja" [value]="item.ID">{{item.Descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="BajaForm.controls['causaBaja'].hasError('required')">Debe seleccionar una
                  causa de baja
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm align-self-center">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerProbableParto" [(ngModel)]="camposBaja.FechaProbableParto"
                  placeholder="Fecha Probable de Parto" [errorStateMatcher]="matcher"
                  formControlName="fechaProbableParto" (dateChange)="onChangeFechaProbableParto($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerProbableParto"></mat-datepicker-toggle>
                <mat-datepicker #pickerProbableParto></mat-datepicker>
                <mat-error *ngIf="BajaForm.get('fechaProbableParto').hasError('required')">
                  Campo Requerido
                </mat-error>
                <mat-error *ngIf="BajaForm.controls['fechaProbableParto'].errors?.date">
                  Campo Incorrecto.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm align-self-center">
              <mat-form-field class="observaciones">
                <textarea matInput placeholder="Observaciones" formControlName="Observaciones"
                  [(ngModel)]="camposBaja.Observaciones" maxlength="1000"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm align-self-center">
              <mat-checkbox [(ngModel)]="camposBaja.IsDeshacerBaja" (change)="onDeshacerBajaChk()"
                formControlName="checkDeshacerBaja">
                Deshacer baja (Reestablecer)</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="container">
            <div class="row" style="align-items: baseline;">
              <div class="col-sm col-4">
                <button mat-raised-button color="primary" [disabled]="!showTitle" (click)="nuevo(agenteDirective)"
                  style="margin-top: 15px; height: 3rem; width: 6rem;">Nuevo</button>
              </div>
              <div class="col-sm col-4">
                <button mat-raised-button color="primary" (click)="chequear()"
                  style="margin-top: 10px; height: 3rem; width: 6rem;"
                  [disabled]="(BajaForm.status === 'VALID')&&(movimientoBaja.Servicios.length > 0)&&(disableEjecutar)&&(showTitle)? false: true">Chequear</button>
              </div>
              <div class="col-sm col-4">
                <button mat-raised-button color="primary" [disabled]="disableEjecutar"
                  (click)="confirmDialogEjecutar(agenteDirective)"
                  style="margin-top: 10px; height: 3rem; width: 6rem;">Ejecutar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span>{{movimientoBaja | json:4}}</span>
  </form>
</div>