<mat-card>
  <mat-card-actions>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/agente/'"
      style="margin-top: 10px; height: 3rem;"
    >
      Agente
    </button>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/afiliaciones/'"
      style="margin-top: 10px; height: 3rem;"
    >
      Afiliaciones
    </button>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/antiguedades/'"
      style="margin-top: 10px; height: 3rem;"
    >
      Antiguedades
    </button>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/titulos/'"
      style="margin-top: 10px; height: 3rem;"
    >
      Titulos
    </button>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/familiaresACargo/'"
      style="margin-top: 10px; height: 3rem;"
    >
      Familiares A Cargo
    </button>
    <button
      color="accent"
      mat-raised-button
      [routerLink]="'/legajo/agentes/prenatal/'"
      style="height: 3rem;"
    >
      Prenatal
    </button>
    <button color="accent" mat-raised-button style="height: 3rem;">
      <a
        fxFlexFill
        [routerLink]="'/legajo/agentes/antiguedades/'"
        class="mat-row-link"
      >
        Afiliaciones link
      </a>
    </button>
  </mat-card-actions>
</mat-card>
